.head{
    margin: 0;
    padding: 0;
}
.menu {
    text-align: center;
    background-color:rgba(16, 16, 165, 0.664);
    border-radius: 10px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    letter-spacing: 1px;
    color: #000;
}
.intro{
   color:black ;
   text-align: center;
   border:rgb(168, 13, 34);
   padding-top: 20px;
   margin:75px 550px;
   padding-bottom: 60px;
   font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
   letter-spacing: -0.5px;
   color: #000;

   

}
.full-box{
    color:white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    background-color:rgb(139, 0, 0); 
    height: 75px;
    padding-bottom: 20px;
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    letter-spacing: -1px;
    color: #000;
    font-weight: bold;
  }
  .vail{
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    letter-spacing: 1px;
    color: #000;
  }
  .valley{
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    letter-spacing: 1px;
    color: #000;
  }
.slopes {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    letter-spacing: 1px;
    color: #000;
  }
  .img{
    padding-bottom: 50px
  }
 