.button{
    background-color: teal;
    border: 1px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    Font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
}
.divider{
    width:20px;
    height:auto;
    display: inline-block;
}
.navbar{
    position: fixed;
    top:0;
    background-color:black;
    width: 100%;
    height: 50px;
    color: white;

}